@import "./style/ui";
@import "./style/canvas";
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#svg-symbols { /* can't display: none because it breaks svg stuff */
    height: 0; 
    width: 0; 
    position: absolute;
    visibility: hidden;
}
#seed {
}