button {
    position: absolute;
    bottom: 0rem;
    width: 40rem;
    height: 40rem;
    font-size: 15rem;
    display:block;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}
button:active, .down {
    color: white;
}
button:focus {
    outline: none;
}
#leftArrow {
    left: 0rem;
}
#rightArrow {
    right: 0rem;
}